body {
    background-color: #212426;
    display: flex;
    width: 100vw;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
#container {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

 /* Dropdown Button */
.dropbtn, #searchCrimes {

}
#buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#inputField {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;} 

/* this below is for the info card*/
.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 16px;
  margin: 16px;
  max-width: 600px;
  width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
}

.label {
  flex: 1;
  font-weight: bold;
  margin-right: 8px;
}

.value {
  flex: 1;
  text-align: right;
}
